<!DOCTYPE html>
<html lang="pt-br" xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto Honkai</title>
        <link rel="stylesheet" th:href="@{//bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header>
                    <div class="col-md-12">
                        <img th:src="@{/img/Logo.jpg}" alt="Logo do Site" />
                    </div>
                </header>
            </div>
        </div>
        <article>
            <div class="container">
                <div class="row">
                    <section>
                        <div class="col-md-12">
                            <h3 th:insert="~{navbar.html :: nav}"></h3>
                        </div>
                    </section>
                </div>
            </div>
            <section id="Personagens">
                <div class="container">
                    <div class="row">
                        <h2>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=1)}"><img th:src="@{/img/Personagens/Acheron.jpg}" alt="Img Acheron" /></a>
                                    <figcaption>Acheron</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=2)}"><img th:src="@{/img/Personagens/Argenti.jpg}" alt="Img Argenti" /></a>
                                    <figcaption>Argenti</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=3)}"><img th:src="@{/img/Personagens/Arlan.jpg}" alt="Img Arlan"></a>
                                    <figcaption>Arlan</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=4)}"><img th:src="@{/img/Personagens/Asta.jpg}" alt="Img Asta"></a>
                                    <figcaption>Asta</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=5)}"><img th:src="@{/img/Personagens/Aventurine.jpg}" alt="Img Aventurine"></a>
                                    <figcaption>Aventurine</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=6)}"><img th:src="@{/img/Personagens/Bailu.jpg}" alt="Img Bailu"></a>
                                    <figcaption>Bailu</figcaption>
                                </figure>
                            </div>
                        </h2>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <h2>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=7)}"><img th:src="@{/img/Personagens/BlackSwan.jpg}" alt="Img Black Swan"></a>
                                    <figcaption>Black</br>Swan</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=8)}"><img th:src="@{/img/Personagens/Blade.jpg}" alt="Img Blade"></a>
                                    <figcaption>Blade</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=9)}"><img th:src="@{/img/Personagens/Boothill.jpg}" alt="Img Boothill"></a>
                                    <figcaption>Boothill</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=10)}"><img th:src="@{/img/Personagens/Bronya.jpg}" alt="Img Bronya"></a>
                                    <figcaption>Bronya</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=11)}"><img th:src="@{/img/Personagens/Clara.jpg}" alt="Img Clara"></a>
                                    <figcaption>Clara</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=12)}"><img th:src="@{/img/Personagens/DanHeng.jpg}" alt="Img Dan Heng"></a>
                                    <figcaption>Dan Heng</figcaption>
                                </figure>
                            </div>
                        </h2>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <h2>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=13)}"><img th:src="@{/img/Personagens/DanLunae.jpg}" alt="Img Dan Heng - Imbibitor Lunae"></a>
                                    <figcaption>Dan Heng</br>Imbibitor</br>Lunae</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=14)}"><img th:src="@{/img/Personagens/DrRatio.jpg}" alt="Img Dr. Ratio"></a>
                                    <figcaption>Dr. Ratio</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=15)}"><img th:src="@{/img/Personagens/Firefly.jpg}" alt="Img Firefly"></a>
                                    <figcaption>Firefly</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=16)}"><img th:src="@{/img/Personagens/FuXuan.jpg}" alt="Img Fu Xuan"></a>
                                    <figcaption>Fu Xuan</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=17)}"><img th:src="@{/img/Personagens/Gallagher.jpg}" alt="Img Gallagher"></a>
                                    <figcaption>Gallagher</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=18)}"><img th:src="@{/img/Personagens/Gepard.jpg}" alt="Img Gepard"></a>
                                    <figcaption>Gepard</figcaption>
                                </figure>
                            </div>
                        </h2>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <h2>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=19)}"><img th:src="@{/img/Personagens/Guinaifen.jpg}" alt="Img Guinaifen"></a>
                                    <figcaption>Guinaifen</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=20)}"><img th:src="@{/img/Personagens/Hanya.jpg}" alt="Img Hanya"></a>
                                    <figcaption>Hanya</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=21)}"><img th:src="@{/img/Personagens/Herta.jpg}" alt="Img Herta"></a>
                                    <figcaption>Herta</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=22)}"><img th:src="@{/img/Personagens/Himeko.jpg}" alt="Img Himeko"></a>
                                    <figcaption>Himeko</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=23)}"><img th:src="@{/img/Personagens/Hook.jpg}" alt="Img Hook"></a>
                                    <figcaption>Hook</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=24)}"><img th:src="@{/img/Personagens/Huohuo.jpg}" alt="Img Huohuo"></a>
                                    <figcaption>Huohuo</figcaption>
                                </figure>
                            </div>
                        </h2>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <h2>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=25)}"><img th:src="@{/img/Personagens/Jade.jpg}" alt="Img Jade"></a>
                                    <figcaption>Jade</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=26)}"><img th:src="@{/img/Personagens/JingYuan.jpg}" alt="Img Jing Yuan"></a>
                                    <figcaption>Jing Yuan</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=27)}"><img th:src="@{/img/Personagens/Jingliu.jpg}" alt="Img Jingliu"></a>
                                    <figcaption>Jingliu</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=28)}"><img th:src="@{/img/Personagens/Kafka.jpg}" alt="Img Kafka"></a>
                                    <figcaption>Kafka</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=29)}"><img th:src="@{/img/Personagens/Luka.jpg}" alt="Img Luka"></a>
                                    <figcaption>Luka</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=30)}"><img th:src="@{/img/Personagens/Luocha.jpg}" alt="Img Luocha"></a>
                                    <figcaption>Luocha</figcaption>
                                </figure>
                            </div>
                        </h2>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <h2>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=31)}"><img th:src="@{/img/Personagens/Lynx.jpg}" alt="Img Lynx"></a>
                                    <figcaption>Lynx</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=32)}"><img th:src="@{/img/Personagens/March7th.jpg}" alt="Img March 7th"></a>
                                    <figcaption>March 7th</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=33)}"><img th:src="@{/img/Personagens/Misha.jpg}" alt="Img Misha"></a>
                                    <figcaption>Misha</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=34)}"><img th:src="@{/img/Personagens/Natasha.jpg}" alt="Img Natasha"></a>
                                    <figcaption>Natasha</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=35)}"><img th:src="@{/img/Personagens/Pela.jpg}" alt="Img Pela"></a>
                                    <figcaption>Pela</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=36)}"><img th:src="@{/img/Personagens/Qingque.jpg}" alt="Img Qingque"></a>
                                    <figcaption>Qingque</figcaption>
                                </figure>
                            </div>
                        </h2>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <h2>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=37)}"><img th:src="@{/img/Personagens/Robin.jpg}" alt="Img Robin"></a>
                                    <figcaption>Robin</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=38)}"><img th:src="@{/img/Personagens/RuanMei.jpg}" alt="Img Ruan Mei"></a>
                                    <figcaption>Ruan Mei</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=39)}"><img th:src="@{/img/Personagens/Sampo.jpg}" alt="Img Sampo"></a>
                                    <figcaption>Sampo</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=40)}"><img th:src="@{/img/Personagens/Seele.jpg}" alt="Img Seele"></a>
                                    <figcaption>Seele</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=41)}"><img th:src="@{/img/Personagens/Serval.jpg}" alt="Img Serval"></a>
                                    <figcaption>Serval</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=42)}"><img th:src="@{/img/Personagens/SilverWolf.jpg}" alt="Img Silver Wolf"></a>
                                    <figcaption>Silver</br>Wolf</figcaption>
                                </figure>
                            </div>
                        </h2>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <h2>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=43)}"><img th:src="@{/img/Personagens/Sparkle.jpg}" alt="Img Sparkle"></a>
                                    <figcaption>Sparkle</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=44)}"><img th:src="@{/img/Personagens/Sushang.jpg}" alt="Img Sushang"></a>
                                    <figcaption>Sushang</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=45)}"><img th:src="@{/img/Personagens/Tingyun.jpg}" alt="Img Tingyun"></a>
                                    <figcaption>Tingyun</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=46)}"><img th:src="@{/img/Personagens/Topaz.jpg}" alt="Img Topaz"></a>
                                    <figcaption>Topaz</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=47)}"><img th:src="@{/img/Personagens/TrailblazerF.jpg}" alt="Img Trailblazer Fire"></a>
                                    <figcaption>Trailblazer</br>Fire</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=48)}"><img th:src="@{/img/Personagens/TrailblazerI.jpg}" alt="Img Trailblazer Imaginary"></a>
                                    <figcaption>Trailblazer</br>Imaginary</figcaption>
                                </figure>
                            </div>
                        </h2>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <h2>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=49)}"><img th:src="@{/img/Personagens/TrailblazerP.jpg}" alt="Img Trailblazer Physical"></a>
                                    <figcaption>Trailblazer</br>Physical</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=50)}"><img th:src="@{/img/Personagens/Welt.jpg}" alt="Img Welt"></a>
                                    <figcaption>Welt</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=51)}"><img th:src="@{/img/Personagens/Xueyi.jpg}" alt="Img Xueyi"></a>
                                    <figcaption>Xueyi</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=52)}"><img th:src="@{/img/Personagens/Yanqing.jpg}" alt="Img Yanqing"></a>
                                    <figcaption>Yanqing</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-4">
                                <figure>
                                    <a th:href="@{/personagemPg/{id}(id=53)}"><img th:src="@{/img/Personagens/Yukong.jpg}" alt="Img Yukong"></a>
                                    <figcaption>Yukong</figcaption>
                                </figure>
                            </div>
                        </h2>
                    </div>
                </div>
            </section>
        </article>
        <footer>
            <p>&copy; Lucas da Fonsceca Perin - Projeto Integrador (Honkai: Star Rail)</p>
        </footer>
    </body>
</html>