<!DOCTYPE html>
<html lang="pt-br" xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto Honkai</title>
        <link rel="stylesheet" th:href="@{//bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header>
                    <div class="col-md-12">
                        <img th:src="@{/img/Logo.jpg}" alt="Logo do Site" />
                    </div>
                </header>
            </div>
        </div>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Login de Usuário</h1>
                        <p><label>Nome/Email: </label><input type="text" /></p>
                        <p><label>Senha: </label><input type="text" /></p>
                        <button>Entrar</button>
                    </div>
                </div>
            </div>
        </article>
        <footer>
            <p>&copy; Lucas da Fonsceca Perin - Projeto Integrador (Honkai: Star Rail)</p>
        </footer>
    </body>
</html>
