<!DOCTYPE html>
<html xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projeto Honkai</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
        <link rel="stylesheet" th:href="@{//bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <nav id="menu">
            <ul>
                <li><a th:href="@{/index}">Personagens</a></li>
                <li><a th:href="@{/cones}">Banco de Dados</a></li>
                <li><a th:href="@{/tierList}">Tier List</a></li>
            </ul>
        </nav>
    </body>
</html>
