<!DOCTYPE html>
<html lang="pt-br" xmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projeto Honkai</title>
        <link rel="stylesheet" th:href="@{//bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header>
                    <div class="col-md-12">
                        <img th:src="@{/img/Logo.jpg}" alt="Logo do Site" />
                    </div>
                </header>
            </div>
        </div>
        <article>
            <div class="container">
                <div class="row">
                    <section>
                        <div class="col-md-12">
                            <h3 th:insert="~{navbar.html :: nav}"></h3>
                        </div>
                    </section>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <section>
                        <div class="col-md-12">
                            <h3 th:insert="~{navBD.html :: nav}"></h3>
                        </div>
                    </section>
                </div>
            </div>
            <h2>Relíquias da Caverna</h2>
            <section id="BD">
                <div class="container">
                    <div class="row">
                        <h3>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=1)}"><img th:src="@{/img/Artefatos/AguiadaLinhadoCrepusculo.png}" alt="Img Águia da Linha do Crepúsculo" /></a>
                                    <figcaption>Águia da Linha do Crepúsculo</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=2)}"><img th:src="@{/img/Artefatos/AndarilhodoDesertodaBandidagem.png}" alt="Img Andarilho do Deserto da Bandidagem" /></a>
                                    <figcaption>Andarilho do Deserto da Bandidagem</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=3)}"><img th:src="@{/img/Artefatos/ArtesaodeFogodaForjadeLava.png}" alt="Img Artesão de Fogo da Forja de Lava" /></a>
                                    <figcaption>Artesão de Fogo da Forja de Lava</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=4)}"><img th:src="@{/img/Artefatos/BandaTrovaoCrepitante.png}" alt="Img Banda Trovão Crepitante" /></a>
                                    <figcaption>Banda Trovão Crepitante</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=5)}"><img th:src="@{/img/Artefatos/CampeadeBoxedeRua.png}" alt="Img Campeã de Boxe de Rua" /></a>
                                    <figcaption>Águia da Linha do Crepúsculo</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=6)}"><img th:src="@{/img/Artefatos/CavalariadeFerroContraaPraga.png}" alt="Img Cavalaria de Ferro Contra a Praga" /></a>
                                    <figcaption>Cavalaria de Ferro Contra a Praga</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=7)}"><img th:src="@{/img/Artefatos/CavaleiradoPalaciodaPureza.png}" alt="Img Cavaleira do Palácio da Pureza" /></a>
                                    <figcaption>Cavaleira do Palácio da Pureza</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=8)}"><img th:src="@{/img/Artefatos/CacadordaFlorestaGlacial.png}" alt="Img Caçador da Floresta Glacial" /></a>
                                    <figcaption>Caçador da Floresta Glacial</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=9)}"><img th:src="@{/img/Artefatos/CoragemComoVentoeNuvem.png}" alt="Img Coragem Como Vento e Núvem" /></a>
                                    <figcaption>Coragem Como Vento e Núvem</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=10)}"><img th:src="@{/img/Artefatos/DicipulaLongeva.png}" alt="Img Dicípula Longeva" /></a>
                                    <figcaption>Dicípula Longeva</figcaption>
                                </figure>
                            </div>
                        </h3>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <h3>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=11)}"><img th:src="@{/img/Artefatos/GeniodasEstrelasBrilhantes.png}" alt="Img Gênio das Estrelas Brilhantes" /></a>
                                    <figcaption>Gênio das Estrelas Brilhantes</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=12)}"><img th:src="@{/img/Artefatos/GraoDuqueemBrasas.png}" alt="Img Grão-Duque em Brasas" /></a>
                                    <figcaption>Grão-Duque em Brasas</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=13)}"><img th:src="@{/img/Artefatos/GuardadaNeveUivante.png}" alt="Img Guarda da Neve Uivante" /></a>
                                    <figcaption>Guarda da Neve Uivante</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=14)}"><img th:src="@{/img/Artefatos/LadraodaChuvadeMeteoros.png}" alt="Img Ladrão da Chuva de Meteoros" /></a>
                                    <figcaption>Ladrão da Chuva de Meteoros</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=15)}"><img th:src="@{/img/Artefatos/MenssageiraAtravessandooHackerspace.png}" alt="Img Menssageira Atravessando o Hackerspace" /></a>
                                    <figcaption>Menssageira Atravessando o Hackerspace</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=16)}"><img th:src="@{/img/Artefatos/MergulhadoraPioneiradeAguasMortas.png}" alt="Img Mergulhadora Pioneira de Águas Mortas" /></a>
                                    <figcaption>Mergulhadora Pioneira de Águas Mortas</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=17)}"><img th:src="@{/img/Artefatos/MosqueteiradoTrigoSelvagem.png}" alt="Img Mosqueteira do Trigo Selvagem" /></a>
                                    <figcaption>Mosqueteira do Trigo Selvagem</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=18)}"><img th:src="@{/img/Artefatos/PrisioneiroemConfinamentoProfundo.png}" alt="Img Prisioneiro em Confinamento Profundo" /></a>
                                    <figcaption>Prisioneiro em Confinamento Profundo</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=19)}"><img th:src="@{/img/Artefatos/RelojoeiroMestredeMaquinacoesdeSonhos.png}" alt="Img Relojoeiro Mestre de Maquinações de Sonhos" /></a>
                                    <figcaption>Relojoeiro Mestre de Maquinações de Sonhos</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=20)}"><img th:src="@{/img/Artefatos/TranseuntedaNuvemErrante.png}" alt="Img Transeunte da Núvem Errante" /></a>
                                    <figcaption>Transeunte da Núvem Errante</figcaption>
                                </figure>
                            </div>
                        </h3>
                    </div>
                </div>
            </section>
            <h2>Ornamentos Planos</h2>
            <section id="BD">
                <div class="container">
                    <div class="row">
                        <h3>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=21)}"><img th:src="@{/img/Ornamentos/ArenaRutilante.png}" alt="Img Arena Rutilante" /></a>
                                    <figcaption>Arena Rutilante</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=22)}"><img th:src="@{/img/Ornamentos/BelobogdosArquitetos.png}" alt="Img Belobog dos Arquitetos" /></a>
                                    <figcaption>Belobog dos Arquitetos</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=23)}"><img th:src="@{/img/Ornamentos/DiferenciadorCelestial.png}" alt="Img Diferenciador Celestial" /></a>
                                    <figcaption>Diferenciador Celestial</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=24)}"><img th:src="@{/img/Ornamentos/DuranDinastiadosLobosCorredores.png}" alt="Img Duran, Dinastia dos Lobos Corredores" /></a>
                                    <figcaption>Duran, Dinastia dos Lobos Corredores</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=25)}"><img th:src="@{/img/Ornamentos/EmpresaMercantilPanCosmica.png}" alt="Img Empresa Mercantil Pan-Cósmica" /></a>
                                    <figcaption>Empresa Mercantil Pan-Cósmica</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=26)}"><img th:src="@{/img/Ornamentos/EstacaodeVedacaoEspacial.png}" alt="Img Estação de Vedação Espacial" /></a>
                                    <figcaption>Estação de Vedação Espacial</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=27)}"><img th:src="@{/img/Ornamentos/ForjadaLanternaKalpagni.png}" alt="Img Forja da Lanterna Kalpagni" /></a>
                                    <figcaption>Forja da Lanterna Kalpagni</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=28)}"><img th:src="@{/img/Ornamentos/FrotadosEternos.png}" alt="Img Frota dos Eternos" /></a>
                                    <figcaption>Frota dos Eternos</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=29)}"><img th:src="@{/img/Ornamentos/IzumoGenseieTakamaReinoDivino.png}" alt="Img Izumo Gensei e Takama Reino Divino" /></a>
                                    <figcaption>Izumo Gensei e Takama Reino Divino</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-1">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=30)}"><img th:src="@{/img/Ornamentos/LinhadeFrenteFirmamentodeGlamoth.png}" alt="Img Linha de Frente: Firmamento de Glamoth" /></a>
                                    <figcaption>Linha de Frente: Firmamento de Glamoth</figcaption>
                                </figure>
                            </div>
                        </h3>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <h3>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=31)}"><img th:src="@{/img/Ornamentos/PenaconyTerradosSonhos.png}" alt="Img Penacony, Terra dos Sonhos" /></a>
                                    <figcaption>Penacony,</br>Terra dos</br>Sonhos</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=32)}"><img th:src="@{/img/Ornamentos/QuilhaQuebrada.png}" alt="Img Quilha Quebrada" /></a>
                                    <figcaption>Quilha</br>Quebrada</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=33)}"><img th:src="@{/img/Ornamentos/SalsottoInerte.png}" alt="Img Salsotto Inerte" /></a>
                                    <figcaption>Salsotto Inerte</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=34)}"><img th:src="@{/img/Ornamentos/SigoniaaDesolacaoNaoReivindicada.png}" alt="Img Sigonia, a Desolação Não Reivindicada" /></a>
                                    <figcaption>Sigonia, a</br>Desolação Não</br>Reivindicada</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=35)}"><img th:src="@{/img/Ornamentos/TaliaReinodoBanditismo.png}" alt="Img Talia: Reino do Banditismo" /></a>
                                    <figcaption>Talia: Reino</br>do Banditismo</figcaption>
                                </figure>
                            </div>
                            <div class="col-md-2">
                                <figure>
                                    <a th:href="@{/reliquiaPg/{id}(id=36)}"><img th:src="@{/img/Ornamentos/VonwacqVivaz.png}" alt="Img Vonwacq Vivaz" /></a>
                                    <figcaption>Vonwacq Vivaz</figcaption>
                                </figure>
                            </div>
                        </h3>
                    </div>
                </div>
            </section>
        </article>
        <footer>
            <p>&copy; Lucas da Fonsceca Perin - Projeto Integrador (Honkai: Star Rail)</p>
        </footer>
    </body>
</html>